.hero {
  background-image: url(img/career.jpg);
  background-size: cover;
  height: 1000vh;
  max-height:1000px;
}
.hero__title {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 16px;
}

.hero__title__accent {
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 16px;
}

.hero__subtitle {
  white-space: pre-line;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
}
.hero {
  /* 以下の1行を追加 */
  position: relative;
  background-image: url(img/career.jpg);
  background-size: cover;
  height: 1000vh;
  max-height: 1000px;
}

.hero__circle {
  position: absolute;
  top: 18%;
  left: 7%;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}